<a href="https://colab.research.google.com/github/hanxuan-110/homework-02/blob/main/Tracy_Li_hw03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATASCI 101, Homework 03

In [ ]:
# basic setup, run this first
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import numpy as np

## Question 1

We will start this homework with some questions on collections in Python.

### Q1.a

Recall that *sets* are collections where each value in the collection only appears once.

Using the `set` function, turn both of these strings into sets. Then use set methods to find

* How many letters are shared between the two names?
* Which letters are in "George Washington" that are not in "Abraham Lincoln"?
* How many letters are in neither president's name?

In [ ]:
gw ="George Washington".lower()
al = "Abraham Lincoln".lower()
az = "abcdefghijklmnopqrstuvwxyz"

In [ ]:
set_gw = set(gw.replace(" ", ""))
set_al = set(al.replace(" ", ""))
set_az = set(az)

shared_letters = set_gw & set_al
num_shared_letters = len(shared_letters)
print(num_shared_letters)

6

In [ ]:
unique_to_gw = set_gw - set_al
num_unique_to_gw = len(unique_to_gw)
print(num_unique_to_gw)

5

In [ ]:
letters_in_names = set_gw | set_al
letters_not_in_names = set_az - letters_in_names
num_letters_not_in_names = len(letters_not_in_names)
print(num_letters_not_in_names)

11

### Q1.b



Use a `for` loop to find the unique values in the lunch orders below. Using Python, print out the number of unique items being ordered. (*Hint*: You can use `set()` to create an empty set.)

In [ ]:
lunch_orders = [{"pasta", "coffee"},
                {"fries","sandwich", "cookie"},
                {"pasta", "salad", "water"},
                {"salad", "pasta", "coffee"},
                {"sandwich", "water"}]

unique_items = set()

for order in lunch_orders:
    unique_items.update(order)

print(len(unique_items))

7

### Q1.c

Here is a menu at the resturant, with items and their cost:

| Item | Price | Vegetarian |
| --- | --- | --- |
| salad | 8 | True |
| soup | 5 | False |
| pasta | 12 | True |
| sandwich | 9 | False |
| burger | 13 | False |
| fries | 6 | True |
| cake | 6 | True |
| cookie| 3 | True |
| water | 0 | True |
| coffee| 2 | True |
| soda | 3 | True |

Create a dictionary called `menu` that has the item names as keys and a two-tuple with (price, vegetarian) as the value.

Demonstrate by retrieving the price and vegetarian status of "burger".



### Q1.d

Write a function that takes a lunch order (a set of menu items) and returns the total price.

Write a function that takes a lunch order a returns true if the entire order is vegetarian.

Use list comprehensions to compute the price of each order and whether each order is vegtarian.

In [ ]:
menu={"salad":(8, True),
    "soup": (5, False),
    "pasta": (12, True),
    "sandwich": (9, False),
    "burger": (13, False),
    "fries": (6, True),
    "cake": (6, True),
    "cookie": (3, True),
    "water": (0, True),
    "coffee": (2, True),
    "soda": (3, True)}

burger_price, burger_vegetarian = menu["burger"]

print(f"Burger price: ${burger_price}, Vegetarian: {burger_vegetarian}")

Burger price: $13, Vegetarian: False

In [ ]:

def calculate_total_price(order):
    return sum(menu[item][0] for item in order)

def is_vegetarian_order(order):
    return all(menu[item][1] for item in order)

lunch_orders = [
    {"pasta", "coffee"},
    {"fries", "sandwich", "cookie"},
    {"pasta", "salad", "water"},
    {"salad", "pasta", "coffee"},
    {"sandwich", "water"}
]

order_prices = [calculate_total_price(order) for order in lunch_orders]


order_vegetarian_status = [is_vegetarian_order(order) for order in lunch_orders]

print("Order prices:", order_prices)
print("Order vegetarian status:", order_vegetarian_status)

Order prices: [14, 18, 20, 22, 9]
Order vegetarian status: [True, False, True, True, False]

### Q1.e

When you have completed your menu in the part (c) you can remove the `#` charcters make this code run:

In [ ]:
menu_dict = {
"name": list(menu.keys()),
"price": [i[0] for i in menu.values()],
"vegetarian": [i[1] for i in menu.values()]
}

Use this table to compute the following:

* What is the price of the most expensive item in the list?
* What is the name of the most expensive item? (You can use the `np.argmax()` function to help you.)
* How many vegetarian items are there?



### Question 2

In [ ]:
import numpy as np
max_price = max(menu_dict["price"])
print(f"The price of the most expensive item is: ${max_price}")

most_expensive_item_index = np.argmax(menu_dict["price"])
most_expensive_item_name = menu_dict["name"][most_expensive_item_index]
print(f"The most expensive item is: {most_expensive_item_name}")

num_vegetarian_items = sum(menu_dict["vegetarian"])
print(f"The number of vegetarian items is: {num_vegetarian_items}")

The price of the most expensive item is: $13
The most expensive item is: burger
The number of vegetarian items is: 8

In [ ]:
# run this to do question 2
import pandas as pd

### Q2.a

Here's a Pandas `DataFrame` version of our menu table.

In [ ]:
menu_df = pd.DataFrame({'name': ['salad',
  'soup',
  'pasta',
  'sandwich',
  'burger',
  'fries',
  'cake',
  'cookie',
  'water',
  'coffee',
  'soda'],
 'price': [8, 5, 12, 9, 13, 6, 6, 3, 0, 2, 3],
 'vegetarian': [True,
  False,
  True,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True]})

Using **methods** for Series objects (i.e., methods called on the columns of the table. Compute the following:

* The name of the least expensive item on the list.
* The number of items that cost between 5 and 10 dollars (inclusive).
* The names all of vegetarian items that cost more than 10 dollars.

In [ ]:
least_expensive_item = menu_df.loc[menu_df["price"].idxmin(), "name"]
print(f"The name of the least expensive item is: {least_expensive_item}")

items_between5_10 = menu_df[(menu_df["price"] >= 5) & (menu_df["price"] <= 10)]
print(f"The number of items that cost between 5 and 10 dollars is: {len(items_between5_10)}")

names_vegetarian_items = menu_df.loc[(menu_df["vegetarian"] == True) & (menu_df["price"] > 10), "name"]
print(f"The names of vegetarian items that cost more than 10 dollars are: {names_vegetarian_items.tolist()}")

The name of the least expensive item is: water
The number of items that cost between 5 and 10 dollars is: 5
The names of vegetarian items that cost more than 10 dollars are: ['pasta']

### Q2.b

Create a table that is only composed of items that cost less than or equal to $5 (call the `value_items`).

In [ ]:
value_items = menu_df[menu_df["price"] <= 5]

How many vegetarian items are in this menu?

In [ ]:
num_vegetarian_items = len(value_items)
print(f"There are {num_vegetarian_items} vegetarian items in this menu")

There are 5 vegetarian items in this menu

## Q2.c

Let's use these techniques on some real data!

In [ ]:

import pandas as pd
spotify = pd.read_csv("https://github.com/UM-Data-Science-101/homework-03/raw/main/spotify.csv")
spotify.columns

Index(['duration_ms', 'track.explicit', 'key', 'danceability', 'energy',
       'loudness', 'acousticness', 'instrumentalness', 'liveness', 'tempo',
       'time_signature', 'track.popularity', 'track.album.release_date',
       'track.name', 'artist.name'],
      dtype='object')

Using Python and Pandas, answer the following questions:

* How many songs have a popularity greater than 80?
* For songs with a popularity greater than 80, what is the shortest song (in miliseconds)?
* What is the name of the song with popularity greater than 80 that has the slowest tempo?

In [41]:
num_songs_popularity_greater_than_80 = len(spotify[spotify['track.popularity'] > 80])
print(f"The number of songs with a popularity greater than 80 is: {num_songs_popularity_greater_than_80}")

shortest_song_duration = spotify[spotify["track.popularity"] > 80]["duration_ms"].min()
print(f"The shortest song duration for songs with popularity greater than 80 is: {shortest_song_duration} ms")

slowest_tempo_song = spotify[spotify["track.popularity"] > 80].loc[spotify[spotify["track.popularity"] > 80]["tempo"].idxmin(), "track.name"]
print(f"The name of the song with popularity greater than 80 that has the slowest tempo is: {slowest_tempo_song}")

The number of songs with a popularity greater than 80 is: 84
The shortest song duration for songs with popularity greater than 80 is: 109091 ms
The name of the song with popularity greater than 80 that has the slowest tempo is: Lover

### Q2.d

Here is a little code that will create a new column with four (approximately) evenly sized groups based on popularly (low, medium, medium high, and high). The code after creating the columns shows how many rows are in each group. There are a few songs with the same popularity value, which makes it difficult to get exactly evenly sized groups, but this is pretty close. The `(a, b]` output on the left shows the popularity range of that group.

In [ ]:
spotify["popgrp"] = pd.qcut(spotify["track.popularity"], 4)
spotify["popgrp"].value_counts()

popgrp
(-0.001, 41.0]    250
(53.0, 67.0]      242
(67.0, 100.0]     238
(41.0, 53.0]      237
Name: count, dtype: int64

For each group, find the number of explicit songs using the `"track.explicit"` column. Which group has the most explicit songs?

In [35]:
explicit_songs_by_group = spotify.groupby("popgrp")["track.explicit"].sum()
group_with_most_explicit_songs = explicit_songs_by_group.idxmax()

print("Number of explicit songs by popularity group:")
print(explicit_songs_by_group)
print("\nThe group with the most explicit songs is:", group_with_most_explicit_songs)

Number of explicit songs by popularity group:
popgrp
(-0.001, 41.0]    29
(41.0, 53.0]      24
(53.0, 67.0]      32
(67.0, 100.0]     73
Name: track.explicit, dtype: int64

The group with the most explicit songs is: (67.0, 100.0]

### Q2.e

Create a new column that is the product of `danceability` and `energy`. Find the song with the highest product of danceability and energy. Find the tempo of this song. Is it a particularly fast song in terms of tempo? How many songs are faster than this song? How many are slower?

In [36]:
spotify["danceability_energy_product"] = spotify["danceability"] * spotify["energy"]
highest_product_song = spotify.loc[spotify["danceability_energy_product"].idxmax()]
tempo_highest_product_song = highest_product_song["tempo"]

print(f"The song with the highest product of danceability and energy has a tempo of: {tempo_highest_product_song}")

num_songs_faster = len(spotify[spotify["tempo"] > tempo_highest_product_song])
num_songs_slower = len(spotify[spotify["tempo"] < tempo_highest_product_song])

print(f"Number of songs faster than this song: {num_songs_faster}")
print(f"Number of songs slower than this song: {num_songs_slower}")

The song with the highest product of danceability and energy has a tempo of: 121.98
Number of songs faster than this song: 394
Number of songs slower than this song: 571